---
title: Regi's Portfolio
---

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/kevin-bhagat-343433-unsplash.jpg);">
  <div class="container">
    <h1>Hey there! <br><strong>If </strong> you are<strong> here</strong> you probably know me,<br> or <strong>want</strong> to know me!</h1>
    <p>I changed my life, I leart how to code. So YES I'm a coder now.</p>
    <%= link_to 'Contact me', 'mailto:vodaregi@gmail.com',  :class => "btn btn-primary myBtn2 hvr-shadow col-lg-2 col-md-2 col-sm-11"%>
  </div>
</div>
<div class="main-div row col-12" id="home">
      <div class="main-left col-lg-7  col-sm-12">
        <div class=" col-lg-8  col-sm-12 left-main-card">
          <div  class="col-12 text-title"><h1 class="text-title-left">Full-stack </h1><h1 class="text-title-right">Web Developer</h1></div>
          <!-- left card -->
          <div class=" col-12 text-box scroller">
            <div class="text-box-header"><h2>Technologies that i use:</h2></div>
            <div class="text-box-body row col-10">
              <div class="icon-box row col-3">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-javascript-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Javascript</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?source=hp&ei=SY20XJfwLoudkwXo97z4Dg&q=ruby-lang&oq=ruby+lang&gs_l=psy-ab.1.0.35i39j0l3j0i203l6.1356.4937..6910...0.0..0.107.771.9j1......0....1..gws-wiz.....0..0i131j0i67.vPcvyXV4gH0">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-ruby-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Ruby</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=UY20XP6-Csv5kwXFk6uYDA&q=rails&oq=rails&gs_l=psy-ab.3..35i39j35i39i19j0l8.45770.46461..50141...0.0..0.74.342.5......0....1..gws-wiz.......0i71j0i67j0i131.GSNrtFKgXZk">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-rails-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Rails</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=hI20XM7RDY64kwWagY3ACw&q=postgresql&oq=postg&gs_l=psy-ab.1.0.0l10.26886.29409..31235...0.0..0.95.405.5......0....1..gws-wiz.......0i71j35i39j0i131j0i67.2dZOjhktWkg">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-postgresql-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Postgresql</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=pI20XKftEsTXkwX0pb6wCg&q=bootstrap&oq=boot&gs_l=psy-ab.1.0.35i39l2j0l4j0i131j0l3.30273.31085..32242...0.0..0.80.289.4......0....1..gws-wiz.......0i71j0i67.ONpoNZzqP7M">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-bootstrap-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Bootstrap</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=xY20XNC4EMyzsAf5v5LgDg&q=css&oq=css&gs_l=psy-ab.3..35i39j35i39i19j0i67l8.18483.19267..20024...0.0..0.70.203.3......0....1..gws-wiz.......0i71j0i131j0.BjddCAcyz4I">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-css3-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>CSS</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?hl=it&source=hp&ei=KI60XJOgCIbKwQKV6pXwDQ&q=html&oq=&gs_l=psy-ab.1.0.35i39l6.0.0..1797...1.0..0.101.101.0j1......0......gws-wiz.....6.aKvXsCIgnPk">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-html5-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>HTML</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-heroku-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Heroku</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-jquery-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Jquery</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-nodejs-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>NodeJS</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-webpack-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Webpack</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-ubuntu-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Ubuntu</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-vuejs-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>VueSJ</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-visualstudio-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Visual Studio</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-slack-plain colored" style="color:#4a154b"></i>
                    </div>
                    <div class="icon-name col-6" >
                      <p>Slack</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-sass-original colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Sass</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-react-original colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>React</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-illustrator-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Illustrator</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-linux-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Linux</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-git-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Git</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-github-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>GitHub</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-gulp-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Gulp</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-express-original colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Express</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-atom-original colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Atom</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-photoshop-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Photoshop</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="devicon-babel-plain colored"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Babel</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="fab fa-npm" style="color:#cb3837"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>npm</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                      <i class="fab fa-sketch" style="color:#fdad00"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Sketch</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                     <i class="fab fa-yarn" style="color:#2c8ebb"></i>
                    </div>
                    <div class="icon-name col-6">
                      <p>Yarn</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="icon-box row ">
                <a target="_blank" href="https://www.google.it/search?ei=lhiyXIutDpC-kwXZh4nwCg&q=javascript&oq=java&gs_l=psy-ab.1.0.35i39l2j0l2j0i67l6.75272.75590..76890...0.0..0.90.301.4......0....1..gws-wiz.......0i71j0i131.scH_q6MYRGY">
                  <div class="icon-body">
                    <div class="icon hvr-bob col-6">
                     <i class="fab fa-invision" style="color:#ff3266"></i>
                    </div>
                    <div class="icon-name  col-6">
                      <p>InVision</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="yellow-right col-7"></div>
          <div class="yellow-left col-5"></div>
        </div>
      </div>
       <div class="main-right row col-lg-5 col-sm-12">
        <div class="card-product hvr-shadow ">
          <img src="images/insta.jpg">
          <div class="card-product-infos">
            <h2>Regi Voda</h2>
            <p>Actually junior Ruby on Rails Developer <br>based in <strong>Turin</strong> Italy.</p>
          </div>
        </div>
        <%= link_to 'Contact me', 'mailto:vodaregi@gmail.com',  :class => "btn btn-primary myBtn hvr-shadow col-lg-4 col-md-3 col-sm-11"%>
        <div class="main-links col-sm-12 col-md-9 col-lg-12">
        <a target="_blank" href="https://github.com/Qwertic"><i class="fab fa-github hvr-bob "></i></a>
        <a target="_blank" href="https://www.instagram.com/regivoda"><i class="fab fa-instagram hvr-bob "></i></a>

        <a target="_blank" href="https://twitter.com/regi_voda"><i class="fab fa-twitter hvr-bob "></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/regi-voda-580a05169"><i class="fab fa-linkedin hvr-bob "></i></a>
      </div>
       </div>
    </div>
    <div class="about-div container " id="about">
      <div class="about-text">


      <h1 >So, something about me: <br></h1>
    <p> As I said, <br> "I changed my life, I leart how to code. <br> So YES I'm a coder now."</p>
    <p>I was born in <a target="_blank" href="https://www.google.it/search?q=Durres&oq=Durres&aqs=chrome..69i57j0l5.3879j0j7&sourceid=chrome&ie=UTF-8">Durres</a>, Albania. At age 5(more or less) my family moved in Greece, for a better future. I studied there, grew up there, and when,let's say, things were good, my dad decided to move to another country, <strong>again</strong>. This time in Italy, always for the same reason.
      But things never go as you want, so no better future till now. <br>Now it's my turn to create a better future. <br>I always worked as a professional cook, but i knew that that wasn't the right job for me. I knew that I wasn't in the right place. I was <strong>lost</strong>.</p>
      <p>So I started to learn coding. A huge challenge, that i happily accepted! <br> But it was and still is hard and it's fine. That's what I wanted to do, I was sure.   </p>
      <p>I decided to attend a coding bootcamp, I chose Le Wagon, in Milan, and <strong>damn</strong> that was tougth, but it worth it, <strong>DEFINITELY.</strong> <br>
        And here I am <strong>now. A junior web developer.</strong>
         Ready for new challenges!
      </p>

      </div>
    </div>
